@font-face {
  font-family:"iconfont";
  /* Project id 3949301 */
  /* Color fonts */
  src:
    url('//at.alicdn.com/t/c/font_3949301_brtudyyj0hn.woff2?t=1686795175555') format('woff2'),
    url('//at.alicdn.com/t/c/font_3949301_brtudyyj0hn.woff?t=1686795175555') format('woff'),
    url('//at.alicdn.com/t/c/font_3949301_brtudyyj0hn.ttf?t=1686795175555') format('truetype');
}
@font-face {
  font-family: "iconfont";
  /* Project id 3949301 */
  /* Color fonts */
  src:
    url('//at.alicdn.com/t/c/font_3949301_0gk4gge8zde.woff2?t=1683367889931') format('woff2'),
    url('//at.alicdn.com/t/c/font_3949301_0gk4gge8zde.woff?t=1683367889931') format('woff'),
    url('//at.alicdn.com/t/c/font_3949301_0gk4gge8zde.ttf?t=1683367889931') format('truetype');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-typescript:before {
  content:"\e6a3";
}
.icon-nginx:before {
  content:"\e69c";
}
.icon-php:before {
  content:"\e787";
}
.icon-py:before {
  content:"\e653";
}
.icon-bxl-spring-boot:before {
  content:"\e6fe";
}
.icon-Nodejs:before {
  content:"\e79c";
}
.icon-Angular:before {
  content:"\e798";
}
.icon-webpack:before {
  content:"\e79a";
}
.icon-React:before {
  content:"\e79b";
}
.icon-electron:before {
  content:"\eb86";
}
.icon-jifen:before {
  content:"\100c1";
}
.icon-tupian:before {
  content:"\e870";
}
.icon-jiaruwomenbeifen2:before {
  content:"\e610";
}
.icon-faxian:before {
  content:"\e63e";
}
.icon-tuichu:before {
  content:"\ecb3";
}
.icon-gerenshezhi:before {
  content:"\e6b7";
}
.icon-icon_3-09:before {
  content:"\e6cd";
}
.icon-shoucangdaogedan:before {
  content:"\e607";
}
.icon-jiaruVIPfangjian-01:before {
  content:"\e608";
}
.icon-weixin:before {
  content:"\e630";
}
.icon-wenhao-wuquan:before {
  content:"\e715";
}
.icon-nv:before {
  content:"\e644";
}
.icon-nan:before {
  content:"\e60f";
}
.icon-wenjian1:before {
  content:"\e60e";
}
.icon-wode:before {
  content:"\e63d";
}
.icon-yuanquzixun:before {
  content:"\e74b";
}
.icon-shouye:before {
  content:"\e66f";
}
.icon-icon:before {
  content:"\e651";
}
.icon-xiaoxi:before {
  content:"\e711";
}
.icon-icon-test:before {
  content:"\e665";
}
.icon-icon-test1:before {
  content:"\e666";
}
.icon-icon-test2:before {
  content:"\e668";
}
.icon-icon-test3:before {
  content:"\e669";
}
.icon-icon-test4:before {
  content:"\e66b";
}
.icon-icon-test5:before {
  content:"\e674";
}
.icon-14:before {
  content:"\e61a";
}
.icon-35:before {
  content:"\e624";
}
.icon-a-ziyuan87:before {
  content:"\e698";
}
.icon-a-ziyuan100:before {
  content:"\e699";
}
.icon-pinglun:before {
  content:"\e60d";
}
.icon-like-full:before {
  content:"\e9a2";
}
.icon-badreview-full:before {
  content:"\e9a4";
}
.icon-cankaodaan:before {
  content:"\e602";
}
.icon-youjiantou:before {
  content:"\e68c";
}
.icon-youjiantou-copy:before {
  content:"\ecb4";
}
.icon-java:before {
  content:"\e639";
}
.icon-Vue:before {
  content:"\e799";
}
.icon-css:before {
  content:"\e61e";
}
.icon-html:before {
  content:"\e632";
}
.icon-Javascript-icon-02:before {
  content:"\e633";
}
